body{
    font-family: roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-1{
    background: #1f2937;
    display: flex;
    flex-direction: column;
}
.container-1 a{
    color: lightgray;
    text-decoration: none;
    font-size: 18px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}
.header img{
    width: 170px;
    height: auto;
}
.hero-container{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align:left;
    max-width: 500px;
}
.slogan{
    color: #F9FAF8;
    font-size:48px;
    font-weight: bolder;
    font-family: "Playfair Display", serif;
}
.text-pitch{
    color: lightgray;
}
.hero-container img{
     width: 100px;   
    height: auto;
}
.hero button{
    background-color: #3882F6;
    border-radius: .5em;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bolder;
    font-size:small;
    color:white;
}
.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}
.pillar-header{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 32px;
}
.pillar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.pillar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
    margin-bottom: 16px;
}

.pillar img{
    width:100px;
    height: auto;
}
.container-3{
    background: #E5E7EB;
}

.container-4{
}

.footer{
    background: #1f2937;
    color: #f9faf8;
    text-align: center;
    font-size: 16px;
}

ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: larger;
}