/*===========================================================================================================================
    COVACCI Landing Page Stylesheet
    Author: Nikolai Covacci
    Description: Layout and styling for header, hero, information section, testimonial, call to action, and footer components.    
=============================================================================================================================*/
/* Removes default page margin and stacks all main sections vertically*/
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
    
    font-family: "Playfair Display", serif;
}

/*==================================================    container-1     =======================================================
Aligns logo and navigation links across the top header above the hero section*/
.container-1 {
    background: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:1;
}
.container-1 a {
    color: lightgray;
    text-decoration: none;
    font-size: large;
}
/*=================================================      header     =========================================================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}
.header img {
    min-width: 200px;
    height: auto;
}
/* links aligned horizontally, Replaced default styles with custom ones*/
ul {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding-right: 20px;
    list-style-type: none;
}


/*==================================================      hero      ===========================================================
Aligns text block and emblem side-by-side*/
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    flex: 1;
}

/*Aligns header, text, and button vertically and to the left*/
.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    margin-left: 25px;
    min-width: 0;
}

.slogan {
    color: #F9FAF8;
    font-size: 40px;
    font-weight: bolder;
    font-family: "Playfair Display", serif;
    max-width: 350px;
    min-width: 0;
}

.text-pitch {
    color: lightgray;
    max-width: 450px;
    min-width: 0;
    font-size:17px;
}

.hero-container img {
    max-width: 120px;
    height: auto;
    min-width: 75px;
    margin-right: 40px;
}

.hero button {
    background-color: #3882F6;
    border-radius: .5em;
    padding: 4px 16px;
    font-weight: bolder;
    font-size: small;
    color: white;
}

/*====================================================   Information   ========================================================
Aligns the pillars and their header vertically*/
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex:1;
}

.pillar-header {
    font-weight: bold;
    font-size: 36px;
    font-family: "Playfair Display", serif;
}

/*pillars are aligned horizontally with even spacing*/
.pillar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pillar-container img {
    max-width: 150px;
    height: auto;
}
/*====================================================   review   ========================================================*/
.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#E5E7EB;
    flex:1;
}
.quote-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    flex: 1;
}
.quote{
    font-size: 25px;
    color: #1F2937;
    font-weight: 300;
    text-align:justify;
}
.author{
    font-size: 30px;
    color: #1F2937;
    font-weight: 300;
    align-self: flex-end;
}
/*====================================================   Call to action   ========================================================
Aligns the pillars and their header vertically*/
.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
.call-to-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882F6;
    padding: 40px 100px;
    margin: 20px;
    border-radius: 0.5em;
    gap:150px;
}
.call-to-action button{
    background-color: #3882F6;
    border-radius: .5em;
    padding: 4px 16px;
    font-weight: bolder;
    font-size: small;
    color: white;
    border-radius: 5px;
    border-color: white;
    
}
.CTA-txt, .CTA-txt-bold{
    color: white;
}
.CTA-txt-bold{
    font-weight: bolder;
}
.CTA-txt{
    font-weight: lighter;
}
/*========================================================     Footer     =====================================================*/
.footer {
    background: #1f2937;
    color: #f9faf8;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    padding:16px;
}

/*===========================================================================================================================